{% extends 'jobs/seeker_base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">My Applications</h1>
        <div class="row">
          {% for app in applications %}
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
           <div class="d-flex justify-content-between align-items-center flex-column gap-2 border border-secondary rounded shadow mb-4 p-3">
                  <div>
                      <strong>{{ app.job.title }}</strong> ({{ app.job.company.name }})  
                      <br>
                      <small class="text-muted">Applied on {{ app.applied_at|date:"M d, Y" }}</small>
                      <span class="mt-2 badge 
                      {% if app.status == 'accepted' %}bg-success
                      {% elif app.status == 'rejected' %}bg-danger
                      {% else %}bg-secondary{% endif %}">
                      {{ app.get_status_display }}
                </span>
                </div>
                {%  if app.status == "pending" %}
                  <div class="sm:d-flex d-flex gap-3 align-items-center justify-content-between mt-2">
                  <a href="{% url 'edit_application' app.pk %}" class="btn btn-sm btn1 mt-2"><i class="bi bi-pencil-fill"></i> Edit</a>
                  <a href="{% url 'delete_application' app.pk %}" class="btn btn-sm btn-outline-danger mt-2"><i class="bi bi-trash-fill"></i> Delete</a>
                  </div>
                {% endif %}
              </div>
           </div>
        {% empty %}
          <li class="list-group-item">You haven't applied to any jobs yet.</li>
        {% endfor %}
        </div>
    </div>
{% endblock %}
