:root{
    --clr-primary : #042a41
}
body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: var(--clr-primary);
}
.navbar-custom{
    background-color: var(--clr-primary);
}
.navbar-custom a{
    color: #fff;
}

.btn1{
    border: 1px solid var(--clr-primary);
    background-color: white;
    color: var(--clr-primary);
}

.btn2{
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btn2:hover{
    background-color: var(--clr-primary);
    color: #fff;
    transform: scale(1.05);
}

.btn1:hover{
    background-color: var(--clr-primary);
    color: #fff;
}

.employer-form{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employer-form label{
    font-weight: bold;
}

.employer-form input,textarea,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--clr-primary);
    margin-top: 5px;

}

.errorlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: red;
}